# Runtime DB URL (can be pooled)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lemma?schema=public"

# Direct DB URL used by Prisma Migrate
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/lemma?schema=public"

PORT=3001
